@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media only screen and (min-width: 1280px) {
    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 1.1;
    }

    .separator {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .container {
        display: flex;
        justify-content: center;
        margin-top: 4px;
        margin-left: 20%;
        flex-direction: column;
    }

    .publiuno {
        display: flex;
        gap: 8%;
        margin-top: 50px;
    }

    .publiuno h2 {
        font-size: 1.25rem;
        font-family: "Poppins";
        font-weight: 600;
    }

    .publiuno p {
        font-family: "Poppins";
        font-size: 0.875rem;
        font-weight: 500;
        color: #6C727F;
    }

    img {
        border-radius: 15px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 1.1;
    }

    .separator {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .container {
        display: flex;
        justify-content: center;
        margin-top: 4px;
        margin-left: 14%;
        flex-direction: column;
    }

    .publiuno {
        display: flex;
        gap: 8%;
        margin-top: 50px;
    }

    .publiuno h2 {
        font-size: 1.25rem;
        font-family: "Poppins";
        font-weight: 600;
    }

    .publiuno p {
        font-family: "Poppins";
        font-size: 0.875rem;
        font-weight: 500;
        color: #6C727F;
    }

    img {
        border-radius: 15px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 1.1;
    }

    .separator {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .container {
        display: flex;
        justify-content: center;
        margin-top: 4px;
        margin-left: 2%;
        flex-direction: column;
    }

    .publiuno {
        display: flex;
        gap: 8%;
        margin-top: 50px;
    }

    .publiuno h2 {
        font-size: 1.25rem;
        font-family: "Poppins";
        font-weight: 600;
    }

    .publiuno p {
        font-family: "Poppins";
        font-size: 0.875rem;
        font-weight: 500;
        color: #6C727F;
    }

    img {
        border-radius: 15px;
    }
}